
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #666;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.parallax,
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6 {
    color: #fff;
}

.btn {
    border: 0;
    border-radius: 0;
}

.navbar-nav li a:hover, 
.navbar-nav li a:focus {
    outline:none;
    outline-offset: 0;
    text-decoration:none;  
    background: transparent;
}

a {
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:focus, 
a:hover {
    text-decoration: none;
    outline: none
}

section {
    padding: 90px 0;
}

.heading {
    padding-bottom:90px;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background: #fff;
}

.preloader > i {
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 36px;
    margin-top: -15px;
    margin-left: -15px;
    display: inline-block;
}


/*************************
********Home CSS**********
**************************/
#home-slider {
    overflow: hidden;
    position: relative;
}

#home-slider .caption {
    position: absolute;
    top: 50%;
    margin-top: -104px;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 15;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

#home-slider .caption h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}

.caption .btn-start {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding:14px 40px;
    border: 1px solid #6e6d6c;
    border-radius: 4px;
    margin-top: 40px;
}

.caption .btn-start:hover {
    color: #fff
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.7);
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}

.left-control, .right-control {
    position: absolute;
    top: 50%;
    height: 51px;
    width: 51px;
    line-height: 48px;
    border-radius: 50%;
    border:1px solid #fff;  
    z-index: 20;
    font-size: 24px;
    color: #fff;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.left-control {
    left: -51px
} 

.right-control {
    right: -51px;
}

.left-control:hover, 
.right-control:hover {
    color: #fff;
}

#home-slider:hover .left-control {
    left:30px
} 

#home-slider:hover .right-control {
    right:30px
}

#home-slider .fa-angle-down {
    position: absolute;
    left: 50%;
    bottom: 50px;
    color: #fff;
    display: inline-block;
    width: 24px;
    margin-left: -12px;
    font-size: 24px;
    line-height: 24px;
    z-index: 999;
    -webkit-animation: bounce 3000ms infinite;
    animation: bounce 3000ms infinite;
}

.navbar-right li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-right li.active a {
    background-color: rgba(0,0,0,.2);
}

.navbar-brand h1 {
    margin-top: 5px;
}

/*************************
********Service CSS*******
**************************/

.service-icon {
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 36px;
    height: 90px;
    line-height: 90px;
    width: 90px;  
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.our-services .col-sm-4:hover .service-icon {
    background-color: #333;
}

.our-services .col-sm-4 {
    border-right:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
    padding-bottom: 50px;
}

.our-services .col-sm-4:nth-child(4), 
.our-services .col-sm-4:nth-child(5), 
.our-services .col-sm-4:nth-child(6) {
    border-bottom:0;
    padding-top: 60px;
}

.our-services .col-sm-4:nth-child(3), 
.our-services .col-sm-4:nth-child(6) {
    border-right:0;
}

.service-info h3 {
    margin-top: 35px;
}

/*************************
********About CSS*******
**************************/
#about-us {
    background-image: url(../images/about-bg.jpg);
    padding: 60px 0;
}

#about-us .h2 {
    margin-top: 0;
    color: #fff;
}

#about-us .lead {
    font-size: 16px;
    margin-bottom: 10px;
}

#about-us .p .b {
    font-color:blue;
}

.progress{
    height: 20px;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 25px;
}

.progress-bar{
    box-shadow: none;
    -webkit-box-shadow: none;
    text-align: right;
    padding-right: 12px;
    font-size: 12px;
    font-weight: 600;
}


.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: width 2s ease-in-out;
    transition:  width 2s ease-in-out;
}

/*************************
*********Team CSS*********
**************************/

.social-icons ul {
    display: inline-block;
}

.social-icons ul li {
    float: left;
    margin-right: 8px;
}

.social-icons ul li a {
    color:#fff;
    background-color: #d9d9d9;
    height: 36px;
    width: 36px;
    line-height: 36px;
    display: block;
    font-size: 16px;
    opacity: 0.8;
}

/*************************
**********Contact CSS*****
**************************/

#footer .social-icons {
    margin-top: 15px;
}

#footer .social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .social-icons ul li a {
    background-color: rgba(0,0,0,.2);
    border-radius: 4px;
    line-height: 33px;
}

#footer .social-icons ul li a:hover {
    color: #fff
}

#footer .social-icons ul li a.envelope:hover {
    background-color: #CECB26;
}

#footer .social-icons ul li a.facebook:hover {
    background-color: #3b5999;
}
#footer .social-icons ul li a.twitter:hover {
    background-color: #2ac6f7;
}
#footer .social-icons ul li a.dribbble:hover {
    background-color: #ff5b92;
}
#footer .social-icons ul li a.linkedin:hover {
    background-color: #036dc0;
}
#footer .social-icons ul li a.tumblr:hover {
    background-color: #ff6b00;
}

/*Presets*/


